<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About</div>
            </p>
                Hi! My name is Baptiste Wijas. I am a Post Doctoral Research Fellow in Amy Zanne's lab at the University of Miami. Research interests include (but not limited to!):<br />
                - Landscape ecology<br />
                - Trophic cascades<br />
                - Carbon cycling<br />
                I have soft spot for deserts as it is where I did my PhD. But now, I have expanded to also study tropical ecosystems including savannas and rainforests.<br />
                At the moment, I focus on deadwood decomposition and its influence on carbon and nutrient cycling through termite and microbial consumers. The interactions between different living organisms help us to undesrtand ecosystem fucntion and carbon cycling from local to global scales. 
            </p>
            <p class="paragraph-text justify-text">
              <h3 class="center-align skills-subsection">Education</h3>
               <li>Bsc (Hons), University of Glasgow (2014-2018)
               <li>PhD, UNSW Australia (2019-2023)
            </p>
        </div>
    </section>
</div>
